:root {
  --dark-desaturated-blue: hsl(227, 35%, 25%);
  --grayish-blue: hsl(225, 20%, 60%);
  --light-grayish-red: hsl(14, 92%, 95%);
  --light-red: hsl(15, 100%, 70%);
  --light-grayish-blue1: hsl(224, 65%, 95%);
  --light-grayish-blue2: hsl(223, 50%, 87%);
  --pale-blue: hsl(226, 100%, 87%);
  --soft-cyan: hsl(174, 77%, 80%);
  --strong-cyan: hsl(174, 86%, 45%);
  --very-pale-blue: hsl(230, 100%, 99%);
  --white: hsl(230, 100%, 99%);
  --header-primary: rgb(29, 29, 29);
  --shadow: hsl(222, 87%, 97%);
}
* {
  color: hsl(225, 20%, 60%);
  font-family: Manrope, Helvetica, sans-serif;
  font-weight: 800;
}
.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 20px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
body {
  background: var(--very-pale-blue) url("./images/bg-pattern.svg") no-repeat;
  background-size: 100% 40vh;
  min-height: 200px;
  height: 100%;
  box-sizing: content-box;
}
.headerDiv {
  background-image: url("./images/pattern-circles.svg");
  background-position: center center;
  background-repeat: no-repeat;

  height: 20vh;
  margin: 20px;
  position: relative;
}
.centerDivH {
  position: relative;

  left: 50%;
  transform: translate(-50%);
  text-align: center;
}
.centerDiv {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.primaryHeader {
  font-weight: 800;
  color: var(--header-primary);
}
.secondaryHeader {
  display: block;
  font-weight: 400;
}
.box {
  background-color: var(--white);
  width: 30vw;
  min-width: 450px;
  font-size: 12px;
}

.twoColumns {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
}
.sliderSummary {
  height: 100px;
}
.sliderPageViews {
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
.amountInfo::after {
  content: " / month";
  font-size: 1rem;
  font-weight: initial;
}
.amountInfo {
  font-weight: 800;
  font-size: 1.8rem;
  color: var(--dark-desaturated-blue);
}
.toogleContainer {
  height: 50px;
  margin-left: 50px;
}
.discountInfo {
  background-color: #fcf1ed;
  color: #d18d7a;
  padding: 0.3em;
  border-radius: 10px;
  margin-left: 1em;
  visibility: hidden;
}
.priceBox {
  box-shadow: 0 0 20px 0px var(--shadow);
  border-radius: 15px 15px 0 0;
}
.profitsButtonBox {
  margin-top: 1px;
  height: 100px;
  box-shadow: 0 0 20px 0px var(--shadow);
  border-radius: 0 0 15px 15px;
}
.profitsList {
  text-align: initial;
}
ul {
  list-style: none;
}
li::before {
  content: "\2713";
  color: var(--strong-cyan);
  display: inline-block;
  width: 1em;
  margin-right: 1em;
}
li {
  margin-bottom: 5px;
}

.startBtn {
  background-color: var(--dark-desaturated-blue);
  border-radius: 20px;
  color: var(--white);
  padding: 0.8em;
  width: 150px;
  font-weight: 600;
  font-size: 00.8em;
}
