:root {
  --dark-desaturated-blue: hsl(227, 35%, 25%);
  --grayish-blue: hsl(225, 20%, 60%);
  --light-grayish-red: hsl(14, 92%, 95%);
  --light-red: hsl(15, 100%, 70%);
  --light-grayish-blue1: hsl(224, 65%, 95%);
  --light-grayish-blue2: hsl(223, 50%, 87%);
  --pale-blue: hsl(226, 100%, 87%);
  --soft-cyan: hsl(174, 77%, 80%);
  --strong-cyan: hsl(174, 86%, 45%);
  --very-pale-blue: hsl(230, 100%, 99%);
  --white: hsl(230, 100%, 99%);
  --header-primary: rgb(29, 29, 29);
}
* {
  color: hsl(225, 20%, 60%);
  font-family: Manrope, Helvetica, sans-serif;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
body {
  background: var(--very-pale-blue) url("./images/bg-pattern.svg") no-repeat;
  background-size: 100% 40vh;
  height: 100%;
  box-sizing: content-box;
}
.headerDiv {
  background-image: url("./images/pattern-circles.svg");
  background-position: center center;
  background-repeat: no-repeat;

  height: 20vh;
  margin: 20px;
  position: relative;
}
.centerDivH {
  position: relative;

  left: 50%;
  transform: translate(-50%);
  text-align: center;
}
.centerDiv {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.primaryHeader {
  font-weight: 800;
  color: var(--header-primary);
}
.secondaryHeader {
  display: block;
  font-weight: 400;
}
.box {
  background-color: var(--white);
  border-radius: 10px;
  width: 30vw;
  margin-top: 30px;
  box-shadow: 0 0 20px 1px #ccc;
  font-size: 12px;
}

.topBox {
  border-bottom: 1px solid var(--very-pale-blue);
}
.twoColumns {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
}
.sliderSummary {
  height: 6em;
}
.sliderPageViews {
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
.amountInfo::after {
  content: " / month";
  font-size: 1rem;
  font-weight: initial;
}
.amountInfo {
  font-weight: 800;
  font-size: 1.8rem;
  color: var(--dark-desaturated-blue);
}
.profitsButtonBox {
  height: 10vh;
}
.profitsList {
  text-align: initial;
}
ul {
  list-style: none;
}
li::before {
  content: "\2713";
  color: var(--strong-cyan);
  display: inline-block;
  width: 1em;
  margin-right: 1em;
}

.startBtn {
  background-color: var(--dark-desaturated-blue);
  border-radius: 20px;
  color: var(--grayish-blue);
  padding: 0.5em;
  width: 15vh;
}
