@media screen and (max-width: 600px) {
  .box {
    min-width: 375px;
  }
  .primaryHeader {
    min-width: 375px;
    font-size: 1.4em;
  }
  .twoColumns {
    display: initial;
  }
  .centerDivH {
    left: initial;
    transform: initial;
  }
  .sliderPageViews {
    height: 65px;
    transform: translateY(50%);
  }
  .amountInfo {
    margin-bottom: 1em;
  }
  .profitsList {
    text-align: unset;
    margin: 2.5em;
    padding-inline-start: 0px;
  }
  .discountInfo::after {
    content: "";
  }
}
