.sliderConteiner {
  height: 50px;
  width: 100%;
}
.pageSlicer {
  height: 8px;
  width: 80%;
  border-radius: 5px;
  /* background-color: var(--light-grayish-blue1); */
  appearance: none;
  outline: none;
  opacity: 0.7;
  background: linear-gradient(
    90deg,
    var(--strong-cyan) 10%,
    var(--light-grayish-blue1) -90%
  );
}
.pageSlicer:hover {
  opacity: 1;
}
.pageSlicer::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  background: var(--strong-cyan) url(../images/icon-slider.svg) no-repeat;
  background-position: center center;
  cursor: pointer;
  -webkit-box-shadow: 0px 10px 20px 5px var(--strong-cyan);
  box-shadow: 0px 10px 20px 5px var(--strong-cyan);
  transition: 0.5s;
}
.pageSlicer::-moz-range-thumb {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  background: var(--strong-cyan) url(../images/icon-slider.svg) no-repeat center;
  box-shadow: 0px 10px 20px 5px var(--strong-cyan);
  cursor: pointer;
  margin: -10px;
}
input[type="range"]::-ms-thumb {
  margin: 0; /* Reset margin in Edge since it supports -webkit-slider-thumb as well */
}
